<& /Admin/Elements/Header, Title => $title &>
<& /Elements/Tabs &>
<& /Elements/ListActions, actions => \@results &>
<div id="formtools-edit">
<& /Admin/Elements/FormToolsHelp &>
<div class="row">
<div class="formtools-component-menu boxcontainer col-md-3" id="formtools-component-wrapper">
<&| /Widgets/TitleBox, title => loc('FormTools Components') &>
<p>FormTools help goes here.</p>
</&>
</div>
<div class="formtools-form-pages boxcontainer col-md-9" id="formtools-pages-wrapper">
<&| /Widgets/TitleBox, title => loc('FormTools Pages') &>
% my @form_pages = keys %{$form->{'formtools-pages'}};
  <ul class="nav nav-<% $nav_type %>s" id="formtools-pages">
% my $current_context = {};
% foreach my $page_name (@form_pages) {
%     my $tab_id = CSSClass( $page_name );
%     $current_context->{tab} = $tab_id;
% #     my( $active, $aria_selected) = $tab_id eq $active_context->{tab} ? ('active', 'true') : ('', 'false');
%     my( $active, $aria_selected) = ('active', 'true');
%     my $nav_id = join '-', 'nav', $current_context->{tab};
%     my $content_id = join '-', 'content', $current_context->{tab};
    <li class="nav-item">
      <a class="nav-link <% $active %>" id="<% $nav_id %>" data-toggle="<% $nav_type %>" href="#<% $content_id %>" role="<% $nav_type %>" aria-controls="<% $content_id %>" aria-selected="<% $aria_selected %>"><% $page_name %></a>
    </li>
% }
  </ul>
</&>
</div><!-- row -->
</div><!-- formtools-form-pages -->
</div><!-- formtools-edit -->

<p><&|/l&>Loaded form <% $form_attribute->Description %></&></p>

<pre>
% use Data::Printer;
% $m->out(np($form));
</pre>

<%INIT>

Abort("No form id found") unless $id;

my $form_attribute = RT::Attribute->new($session{'CurrentUser'});
my ($ok, $msg) = $form_attribute->Load($id);

unless ( $ok ) {
    Abort("Unable to load form with id $id");
}

my $form = $form_attribute->Content;

my ($title, @results);
$title = loc("Modify form [_1]", $form_attribute->Description);

my $nav_type = 'pill'; # 'tab' or 'pill'

</%INIT>
<%ARGS>
$id => undef
</%ARGS>
